html,
body {
	background-color: var(--card);
	font-family: 'Helvetica Neue', sans-serif;
	justify-content: center;
	align-items: center;
	font-size: var(--text-sm);
	line-height: var(--line-height-sm);
}

.theme {
	min-height: 100vh;
	transition: color 0.3s, background-color 0.3s;
	color: var(--secondary-foreground);
}

/*  When the body has display: flex;
    its children (header, footer, and main) become flex items. 
    Flex items do not expand to fill their container's width
    unless you explicitly set their width.
*/

main {
	overflow-y: auto;
	/* Enable scrolling for content */
	scroll-snap-type: y mandatory;
	/* Enable snapping in the vertical direction */
	scroll-behavior: smooth;
	/* Enable smooth scrolling */
}

header,
footer {
	display: flex;
	align-items: center;
	position: fixed;
	
	color: var(--secondary-foreground);
	gap: 10px;
	width: 100%;
	z-index: 10;
}

footer {
	bottom: 0;
	width: 100%;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	height: var(--footer-height);
}

header {
	top: 0;
	width: 100%;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	height: var(--header-height);
}